.category {
  color: #33404a;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  gap: 16px;
}
.linkCategory {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f1f5f7;
}
.linkCategory:hover {
  color: #767b80;
}
