.cardContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}
.title {
  font-weight: 800;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #33404a;
}
.tag {
  height: 26;
  border-radius: 8px;
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  background: #e2f0fe;
  color: #0f4f9e;
  display: flex;
  align-items: center;
}
.dateTime {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #667f93;
  gap: 12px;
}
.line {
  rotate: -90 deg;
  border: 1px solid #d9e1e7;
}
.link {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #667f93;
  gap: 16px;
  align-items: center;
  cursor: pointer;
}
